
a{
  font-family: "Ubuntu";
  font-weight: 500;
}
em{
  font-size: 1.2rem;
}
h2{
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 800;
  line-height: 1.5;
}

/* NAV BAR */
#title{
  background-color: #ff4c68;
  z-index: -1;
}
.container-fluid{
  padding: 3% 15%;
}
.navbar{
  padding: .5rem 0;
}
/* TITLE SECTION */
.big-header{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.meet-new-dogs{
  text-align: left;
}
.phone-mockup{
  margin-top: 5%;
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  padding-bottom: 20%;
  z-index: 0;
}
/* FEATURES */
#features{
  padding: 100px 100px;
  font-family: "Montserrat";
  background-color: white;
  position: relative;
  z-index: 1;

}
.feature-box h3{
  font-weight: 800;
}
.feature-box i{
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 30px;
}
.feature-box i:hover{
  color: #ff4c68;
}
/* TESTIMONIALS */
#testimonials{
  padding: 0% 2%;
  background-color: #ef8172;
  color: white;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 12%;
}
/* PRESS */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 12%;
  margin: 10px 40px 10px 40px
}
/* PRICING */
.pricing-title{
  font-size: 1.6rem;
  padding: 4%;
}
.card{
  height: 100%;
}

/* CALL TO ACTION */
#cta{
  background-color: #ff4c68;
  padding: 100px;
}

.cta-title{
  color: white;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3.3rem;
  margin-bottom: 3%;
}

/* FOOTER */

footer i{
  margin: 0 25px 25px 25px;
}

@media (max-width: 1028px){
  .meet-new-dogs{
    text-align: center;
  }
  .phone-mockup{
    position: static;
    transform: rotate(0);
  }


}
